.landing-pg{
  background-image: url(../images/landing_bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 750px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:19%; 
}
#menu-listing{
  background-image:url(../images/menu.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 450px;
  border-radius: 10px;
}
